{% extends 'dashboard/base_course_dashboard.html' %}
{% load coursetags %}
{% load static %}
{% block title %}{{block.super}}&mdash; Course Roster{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.custom.css' %}">
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/app/dashboard/class_roster.js"></script>
{% endblock %}

{% block uncompressable_js %}
    <script src="{% static 'js/lib/tablesorter/jquery.tablesorter.combined.min.js' %}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new CourseRosterView({
                el: jQuery(".roster-container"),
            });
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <h2>Course Roster</h2>
<div class="roster-container">
    <div>
        <h3>
            <a href="#roster-table">{{object_list|length}} Members</a>{% if invitations|length > 0 %}, <a href="#invite-table">{{invitations|length}} Invitations</a>{% endif %}
        </h3>
    </div>
    <div class="visualclear"></div>
    <a name="roster-table"></a>
    <div class="table-responsive">
        <table class="tablesorter">
            <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
                {% course_role for user in course as role %}
                <tr>
                    <td>
                        {{user.last_name}}
                    </td>
                    <td>
                        {{user.first_name}}
                    </td>
                    <td>{{user.username}}</td>
                    <td class="role">
                        {% if role == "instructor" %}
                            Faculty &nbsp;
                        {% else %}
                            Student &nbsp;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if invitations|length > 0 %}
        <a name="invite-table"></a>
        <h2>Invitations</h2>
        <div class="table-responsive">
            <table class="tablesorter">
                <thead>
                    <tr>
                    <th>Email</th>
                    <th>Invited By</th>
                    <th>Invited At</th>
                    <th>Accepted</th>
                    <th>Resend Invite</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invite in invitations %}
                        <tr>
                            <td>{{invite.email}}</td>
                            <td>{{invite.invited_by}}</td>
                            <td>{{invite.invited_at}}</td>
                            <td>
                                {% if invite.accepted_at %}
                                    {{invite.accepted_at}}
                                {% endif %}
                            </td>
                            <td>
                                {% if not invite.accepted_at %}
                                    <form class="inline" action="{% url 'course-roster-resend-email' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="invite-id" value="{{invite.id}}" />
                                        <button class="btn btn-default btn-sm"
                                            type="submit"
                                            data-invite-id="{{invite.id}}">
                                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Resend Invitation
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div>
    {% endif %}
</div>
{% endblock %}
