<div class="card-body">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Selection Assignment
                </h5>
                <p class="card-text">
                    A selection assignment allows students to create annotated selections of a video, photo or audio clip designated by the instructor.
                </p>
            </div>
            <div id="selection-assignment-card" class="card-footer border-0 bg-white px-0">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="col-md-auto">
                        <a href="https://mediathread.ctl.columbia.edu/kb/#assign-instructor-types"
                            class="card-link" target="_blank" rel="noreferrer">
                            Learn More
                        </a>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-sm btn-outline-primary mr-2" title="Add Selection Assignment" id="addSelectionAssignment"
                            href="{% url 'selection-assignment-create' request.course.id %}">
                            Add Assignment
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
