{% extends "base_new.html" %}

{% block title %}
    {% if project.title %}{{project.title}}{% else %}New Composition{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.print.css"  media="print" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block uncompressable_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}admin/css/widgets.css" media="screen" />
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}

    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}
    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <!--  Generic Functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}jquery/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<div>
    <nav id="three-section-tabs" class="nav nav-tabs flex-column flex-sm-row"
        role="tablist">
        <a class="flex-sm-fill text-sm-center nav-link " role="tab"
            title="Collection" href="{% url 'course_detail' course.pk %}">
            Collection
        </a>
        <a class="flex-sm-fill text-sm-center nav-link" role="tab"
            href="{% url 'assignment-list' course.pk %}"
            title="Assignments" href="assignments/">
                Assignments
                {% if role_in_course == 'student' and unresponded > 0 %}
                    <span class="badge badge-primary ml-2">{{unresponded}}</span>
                {% endif %}
        </a>
        <a class="flex-sm-fill text-sm-center nav-link active" role="tab"
            href="{% url 'project-list' course.pk %}"
            title="Projects" href="projects/">Projects</a>
    </nav>
    <div class="tab-content">
        <div role="tabpanel">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="col-md-6">
                    <h1 class="page-title">{{project.title}}</h1>
                </div>
                <div class="col-md-6 text-right">
                    <div class="form-group col-md-12">
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-secondary mr-2"
                                href="{% url 'project-list' course.id %}">
                                All Projects
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
