{% load static %}
{% load waffle_tags %}

<div class="accordion bg-light" id="upload-import-accordion">
    <div class="card border-0 bg-light">
        <div id="collapseOne" class="collapse bg-light collectionAdd"
           aria-labelledby="btn-add-to-collection"
           data-parent="#upload-import-accordion">

            <h4 class="text-center pt-3">Add To Collection</h4>
            <div class="card-body">
                <div class="card-deck">
                    {% if can_upload or can_upload_image %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Upload Media</h5>
                            <!--  Video Upload -->
                            <p class="card-text">
                                Upload media from your desktop to this course.
                                <br>
                                Supported video files include <span style="font-style: italic; font-weight:bold;">.mov,&nbsp;.mp4,&nbsp;.avi.</span>
                                <br>
                                Supported audio files include <span style="font-style: italic; font-weight:bold;">.mp3.</span>
                                <br>
                                A submitted video or audio file must be less than 2GB.
                            </p>

                                {% ifequal role_in_course "non-member" %}
                                    <p class="card-text">You must be a course member to upload media files.</p>
                                {% else %}
                                    <h6 class="card-title">Video/Audio</h6>
                                    <form class="card-text" action="/upload/panopto/" method="POST">
                                        {% csrf_token %}
                                        
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input
                                                    type="file"
                                                    accept=".avi, .mov, .mp3, .mp4"
                                                    onchange="update_title();"
                                                    class="custom-file-input"
                                                    id="mediaUploadFilename"
                                                    name="mediaUploadFilename"/>
                                                  <input type="hidden" name="url" id="uploaded-url" />
                                                  <label class="custom-file-label" for="mediaUploadFilename">
                                                      Choose file
                                                  </label>
                                              </div>
                                          </div>
                                          
                                          <p class="alert" id="upload-status" style="display:none"></p>
                                          <p class="alert" id="file-too-big" style="display:none"></p>
                                          
                                          <div class="input-group mb-3">
                                              <input
                                                  name="title"
                                                  required
                                                  id="newAssetTitle"
                                                  type="text"
                                                  placeholder="Specify a title"
                                                  class="form-control"
                                                  disabled/>
                                          </div>

                                          <div class="form-group mt-1">
                                              <button type="button" id="upload-button" onclick="s3_upload_video();show_loading();" class="btn btn-secondary upload_button video" disabled>Upload</button>
                                              <button type="submit" id="hidden_submit" style="display:none"></button>
                                              &nbsp;
                                              <div id="upload-spinner" class="spinner-border text-secondary " style="display:none; width: 1.5rem; height: 1.5rem;" role="status">
                                                  <span class="sr-only">Loading...</span>
                                              </div>
                                          </div>
                                       </form>
                                   {% endifequal %}
                            <!--  End Video/Audio Upload -->

                            {% if can_upload and can_upload_image %}
                                <hr />
                            {% endif %}
                           </div>
                       </div>
                   {% endif %}

                   <div class="card">
                       <div class="card-body">
                           <h5 class="card-title text-center">Import Media</h5>

                           <form method="POST" action="{% url 'asset-create' %}">
                               {% csrf_token %}
                               <div class="form-group">
                                   <label for="import-source-url">
                                       Source URL
                                   </label>
                                   <input type="text"
                                          required
                                          id="import-source-url"
                                          class="form-control"
                                          name="url" />
                                   <small class="form-text text-muted">
                                       Link to an image or a YouTube/Vimeo video.
                                   </small>
                                   <div id="validationServer03Feedback"
                                        class="invalid-feedback">
                                       Please provide a valid media link.
                                   </div>
                               </div>
                               <img id="imported-thumbnail"
                                    style="display: none;"
                                    class="img-thumbnail mb-2"
                                    alt="Imported image thumbnail" />
                               <div class="form-group">
                                   <label for="import-form-title">
                                       Asset Title
                                   </label>
                                   <input type="text"
                                          required
                                          class="form-control"
                                          id="import-form-title"
                                          name="title" />

                                   <input type="hidden" id="import-form-label"
                                          name="label" />
                                   <input type="hidden" id="import-form-width"
                                          name="width" />
                                   <input type="hidden" id="import-form-height"
                                          name="height" />
                               </div>
                               <button type="submit"
                                       id="import-submit-button"
                                       class="btn btn-primary"
                                       disabled>
                                   Import
                               </button>
                           </form>

                           <hr />

                           <p class="card-text">
                               Alternatively, you can install
                               Mediathread’s Google Chrome extension
                               to import assets like video, audio, and
                               images into this course from various
                               sites across the web.

                               <ul>
                                   <li>
                                       Visit the Chrome Web Store and
                                       make sure to click Add To
                                       Chrome.
                                   </li>
                                   <li>
                                       Once added to your browser, you
                                       can click on the Extension icon
                                       next to the Address Bar to pin
                                       the Mediathread extension for
                                       easier access.
                                   </li>
                                   <li>
                                       You can click the extension to
                                       collect single media items from
                                       sites like Flickr, YouTube, and
                                       Google Images.
                                   </li>
                               </ul>

                               You must be using a browser in the <a href="https://en.wikipedia.org/wiki/Chromium_(web_browser)#Browsers_based_on_Chromium">Chrome family</a>
                               to install this extension.
                           </p>
                           <div class="arrowContent">
                               {% if request.user_agent.browser.family == 'Chrome' or request.user_agent.browser.family == 'Chromium' %}
                               {% include "assetmgr/install_chrome_extension.html" %}
                               {% elif request.user_agent.browser.family == 'Safari' %}
                               {% include "assetmgr/install_safari_extension.html" %}
                               {% elif request.user_agent.browser.family == 'Firefox' %}
                               {% include "assetmgr/install_firefox_extension.html" %}
                               {% endif %}
                           </div>
                       </div>
                   </div>
                   {% include 'main/rec_sources.html' %}
                </div>
            </div>
       </div>
   </div>
</div>

{% block js %}
    <!-- Media upload form -->
    <script src="{% static 's3sign/js/s3upload.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
    const update_title = function() {
      jQuery('#file-too-big').hide();
      jQuery('#newAssetTitle').attr('disabled', false);
      long_filename = jQuery('#mediaUploadFilename')[0].value
      var media_upload_filename = long_filename.substring(long_filename.lastIndexOf('\\') + 1, long_filename.lastIndexOf('\.'))
      jQuery('#newAssetTitle').val(media_upload_filename);
      jQuery('#newAssetTitle').focus();
      jQuery('#newAssetTitle').get(0).setSelectionRange(0,0);
      jQuery('#upload-button').attr('disabled', false);
    }

    const s3_upload_video = function() {
        if (jQuery('#mediaUploadFilename')[0].files[0].size / 1024 / 1024 / 1024 > 2) {
            jQuery('#file-too-big')
            .addClass('alert-danger')
            .text('A submitted video or audio file must be less than 2GB')
            .show();;
        }
        else {
            const s3upload = new S3Upload({
                file_dom_selector: 'mediaUploadFilename',
                x_amz_acl: '',
                s3_sign_put_url: '/asset/sign_s3/',
                s3_object_name: jQuery('#mediaUploadFilename')[0].value,

                onFinishS3Put: function(url, privateUrl) {
                    const urlObj = new URL(privateUrl);
                    // Save the URL without security credentials to the
                    // database.
                    jQuery('#uploaded-url').val(
                        urlObj.origin + urlObj.pathname);
                        jQuery('#hidden_submit').click();
                    },
                onError: function(status) {
                    jQuery('#upload-status')
                        .removeClass('alert-primary')
                        .addClass('alert-danger')
                        .text(status);
                }
            });
        }
    }
    
    function show_loading(){
        jQuery('#upload-spinner').show();
        jQuery('#be-patient').show();
    }
    
    jQuery(document).ready(function() {
        {% ifequal msg "upload" %}
        var msg = "Your media file submission is being processed.\nYou will receive an e-mail when it is ready."
        showMessage(msg);
        {% endifequal %}

        // https://www.npmjs.com/package/bs-custom-file-input
        bsCustomFileInput.init();

        jQuery("a.upload_button").click(function(evt) {
            jQuery(this).parent().submit();
        });
    });
    </script>

    <!-- Media import form -->
    <script src="{% static 'js/lib/get-youtube-id/index.js' %}"></script>
    <script type="module">
    import {
        getMediaType, refreshImportForm
    } from "{% static 'js/utils.js' %}";

    jQuery(document).ready(function() {
        // In media import form, listen for image URL.
        const urlInput = document.getElementById('import-source-url');
        urlInput.addEventListener('change', function(e) {
            const mediaLabel = getMediaType(e.target.value);
            if (mediaLabel === 'youtube' || mediaLabel === 'vimeo') {
                refreshImportForm(urlInput, e.target.value, mediaLabel);
            } else if (mediaLabel.then) {
                mediaLabel.then(function(mt) {
                    refreshImportForm(urlInput, e.target.value, mt);
                });
            }
        });
    });
    </script>
{% endblock %}
